[Unit]
Description="pssc"

[Service]
Environment="QT_QPA_PLATFORM=linuxfb"
Environment="QMLSCENE_DEVICE=softwarecontext"
Environment="TSLIB_TSEVENTTYPE=INPUT"
Environment="TSLIB_TSDEVICE=/dev/input/event1"
Environment="TSLIB_CALIBFILE=/etc/pointercal"
Environment="TSLIB_CONFFILE=/etc/ts.conf"
Environment="TSLIB_CONSOLEDEVICE=none"
Environment="TSLIB_FBDEVICE=/dev/fb0"
Environment="TSLIB_PLUGINDIR=/usr/lib/ts"

Type=simple
ExecStart=/opt/pApp.sh
Restart=always


[Install]
WantedBy=multi-user.target
